In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta

In [7]:
target_date = '2025-05-20'

date_name = target_date.split('-')[0][2:] + target_date.split('-')[1] + target_date.split('-')[2]
print(date_name)

250520

In [9]:
# 삼성전자 티커
samsung = yf.Ticker("005930.KS")

# yfinance는 end 날짜를 포함하지 않으므로 다음 날을 end로 설정
hist = samsung.history(start='2023-12-01', end='2025-05-21', auto_adjust=False)

hist = hist.reset_index()

hist.columns = hist.columns.str.lower()
hist['date'] = pd.to_datetime(hist['date']).dt.date.astype(str)
hist = hist[['date', 'open', 'high', 'low', 'close', 'volume']]

hist.to_csv(f'{date_name}_stock_2.csv', index=False)

hist, print(len(hist))

354

(           date     open     high      low    close    volume
 0    2023-12-01  72400.0  72500.0  71700.0  72000.0   9871284
 1    2023-12-04  72800.0  72900.0  72400.0  72600.0  10229267
 2    2023-12-05  72300.0  72400.0  71200.0  71200.0  12129682
 3    2023-12-06  71800.0  72100.0  71600.0  71700.0   8123087
 4    2023-12-07  71800.0  71900.0  71100.0  71500.0   8862017
 ..          ...      ...      ...      ...      ...       ...
 349  2025-05-14  57500.0  57900.0  57000.0  57400.0  12468089
 350  2025-05-15  57400.0  58600.0  57100.0  57300.0  13139736
 351  2025-05-16  57400.0  57500.0  56700.0  56800.0  10385352
 352  2025-05-19  56400.0  56400.0  55500.0  55800.0   9802105
 353  2025-05-20  56200.0  56700.0  55700.0  55900.0   9080577

 [354 rows x 6 columns],
 None)

In [4]:
from curl_cffi import requests
# session = requests.Session(impersonate="chrome")

# 조회 대상 날짜
target_date = '2024-01-01'
next_date = '2025-05-21'
# next_date = (datetime.strptime(target_date, '%Y-%m-%d') + timedelta(days=1)).strftime('%Y-%m-%d')  

# datetime 객체로 변환
date_obj = datetime.strptime(target_date, '%Y-%m-%d')

# weekday()는 월=0, ..., 일=6
is_weekend = date_obj.weekday() >= 5  # 토(5), 일(6)
print(f"Is weekend? {is_weekend}")  # True면 주말

# 삼성전자 티커
samsung = yf.Ticker("005930.KS")

# yfinance는 end 날짜를 포함하지 않으므로 다음 날을 end로 설정
hist = samsung.history(start=target_date, end=next_date, auto_adjust=False)

if is_weekend:
    # 주말인 경우: 데이터 없음 처리
    hist = pd.DataFrame([{
        'date': target_date,
        'open': np.nan,
        'high': np.nan,
        'low': np.nan,
        'close': np.nan,
        'volume': np.nan
    }])
else:
    # 평일인 경우: yfinance로 실제 데이터 요청
    next_date = (date_obj + timedelta(days=1)).strftime('%Y-%m-%d')
    samsung = yf.Ticker("005930.KS")
    hist = samsung.history(start=target_date, end=next_date, auto_adjust=False)
    
    if not hist.empty:
        hist = hist.reset_index()
        hist.columns = hist.columns.str.lower()
        hist['date'] = pd.to_datetime(hist['date']).dt.date.astype(str)
        hist = hist[['date', 'open', 'high', 'low', 'close', 'volume']]
    else:
        # 거래일인데 데이터가 없을 경우 (ex. 공휴일)
        hist = pd.DataFrame([{
            'date': target_date,
            'open': np.nan,
            'high': np.nan,
            'low': np.nan,
            'close': np.nan,
            'volume': np.nan
        }])

hist

Is weekend? False

$005930.KS: possibly delisted; no price data found  (1d 2024-01-01 -> 2024-01-02)

         date  open  high  low  close  volume
0  2024-01-01   NaN   NaN  NaN    NaN     NaN

In [ ]:
date_name = target_date.split('-')[0][2:] + target_date.split('-')[1] + target_date.split('-')[2]
print(date_name)
hist.to_csv(f'{date_name}_stock.csv', index=False)

250520

In [ ]:
tmp = pd.read_csv(f'/Users/taeheon/stock_price/data/{date_name}_stock.csv')

tmp

         date     open     high      low    close   volume
0  2025-05-20  56200.0  56700.0  55700.0  55900.0  9080577